.cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  h2 {
    width: 350px;
    text-align: center;
  }
  i {
    position: relative;
    left: 5px;
    color: gray;
  }
}
